pyyaml
wheel
scipy
pillow==9.5.0
matplotlib
tensorboardX
seaborn
xvfbwrapper
torchdiffeq
lmdb
Ninja
foolbox
torchsde
absl-py
aiohttp
aiosignal
albumentations
antlr4-python3-runtime
async-timeout
attrs
cachetools
charset-normalizer
einops
filelock
frozenlist
fsspec
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
importlib-metadata
joblib
lazy-loader
lightning-utilities
lpips
markdown
markupsafe
more-itertools
multidict
networkx
oauthlib
omegaconf
opencv-python
opencv-python-headless
packaging
protobuf
pyasn1
pyasn1-modules
pywavelets
qudida
regex
requests-oauthlib
rsa
scikit-image
scikit-learn
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
tokenizers
transformers
typing-extensions
urllib3
werkzeug
yarl
zipp
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
torchsummary
timm==0.5.4
pytorch-lightning==1.5.10
torchmetrics==0.10.3
numpy==1.19.4
tqdm==4.56.1
pandas==1.2.0
requests==2.25.1
pytorch_fid
torchattacks